/*
    36. Custom page css
*/
.report__bottom {
  &--inner {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }
}
.reports__menu{
  width: 100%;
  position: relative;
  &--header{
    height: 42px;
    padding: 0 14px;
    cursor: pointer;
    position: relative;
    background-color: var(--bs-success);
    @media only screen and (min-width: 768px) {
      height: 50px;
    }
    @media only screen and (min-width: 992px) {
      height: 55px;
    }
    @media only screen and (min-width: 1600px) {
      height: 65px;
    }
  }
  &--title{
    font-size: 1.6rem;
    line-height: 2.2rem;
    //text-transform: uppercase;
    font-weight: 600;
    @media only screen and (min-width: 768px) {
      font-size: 1.8rem;
    }
  }
}
.report__info {
  &--data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &--text {
      font-size: 1.3rem;
      padding: 0.5rem 1rem;
      span {
        display: block;
        line-height: 1.4rem;
        text-align: center;
        border-top: 1px solid var(--border-color);
        padding-top: 4px;
        margin: 0 -1rem;
      }
      & + & {
        border-left: 1px solid var(--border-color);
      }
    }
  }
}
.report__card {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  border: 0;
  .card-header {
    display: flex;
    justify-content: space-between;
    color: var(--text-white-color);
    background-color: var(--bg-card-green);
    border-radius: 1rem 1rem 0 0;
    font-family: var(--inter-fonts);
    font-size: 1.3rem;
    padding: 0 1rem;
    line-height: 1.8em;
    @media only screen and (max-width: 991px) {
      font-size: 1.2rem;
    }
    span {
      line-height: 1.8rem;
    }
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    font-family: var(--inter-fonts);
    font-size: 1.3rem;
    padding: 0 1rem;
    line-height: 1.8em;
    background-color: transparent;
    border: none;
    @media only screen and (max-width: 991px) {
      font-size: 1.2rem;
    }
    span {
      line-height: 1.8rem;
      &.card-footer-count {
        color: var(--text-white-color);
        background-color: var(--bg-card-green);
        margin: 0 -1rem;
        padding: 0 1rem;
        border-radius: 0 0 0 1rem
      }
      &.card-footer-comment {
        flex: 1 1 auto;
        padding-left: 2rem;
      }
      &.card-footer-price {
        font-weight: 600;
      }
    }
  }
  .card-body {
    &-media {
      display: flex;
      .card-body-media-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
        align-self: stretch;
        flex-shrink: 1;
        min-width: 100px;
      }
    }
    &-content {
      width: 100%;
      position: relative;
      p.card-text {
        font-size: 1.2rem;
        margin-bottom: 0;
        span {
          display: block;
          line-height: 2rem;
          .ml-verified {
            width: 1.4rem;
            height: 1.4rem;
            display: inline-block;
            margin-bottom: -2px;
          }
        }
      }
      .btn {
        border-radius: 20px;
        font-size: 1.1rem;
        line-height: 1.1rem;
        padding: 3px 6px 4px 6px;
        & + .btn {
          margin-left: 2rem;
        }
        &.btn-pink {
          color: var(--text-white-color);
          background-color: var(--btn-card-pink);
          border-color: var(--btn-card-pink);
        }
      }
    }
  }
}
.share__action {
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: space-between;
  height: 100%;
  &--icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  &--cart--icon {
    margin-bottom: 1rem;
  }
}
.visiter-wrapper {
  display: inline-block;
  text-align: center;
  .visiter-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .account__details--title {
    font-size: 3rem;
    color: var(--bs-success);
    margin-top: 2rem;
    margin-bottom: 0;
  }
}
.shop__section--wrapper {
  &.section--padding {
    padding-top: 0;
    padding-bottom: 5rem;
    @media only screen and (min-width: 768px) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}